
@if (Map is not null)
{
    <MudDrawer Open ClipMode="DrawerClipMode.Never" Elevation="2" Fixed="false" Variant="DrawerVariant.Persistent">
        <div class="d-flex flex-column align-center gap-1 mud-full-width">
            @foreach (var control in GetControls(Map))
            {
                <MudButton OnClick="control.Action" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small" FullWidth>@control.Title</MudButton>
            }
        </div>
    </MudDrawer>
}


@code {
    
    
    [Parameter]
    public MapService? Map { get; set; }


    private List<ControlItem> GetControls(MapService map) =>
    [
        new("Set View", () => map.SetView((43.6532,-79.3832), 15)),
    ];


    private record ControlItem(string Title, Action Action);

}