@page "/"

<PageTitle>Home</PageTitle>

<div class="pa-4 mud-width-full d-flex align-center justify-center" style="height: calc(100vh - (calc(var(--mud-appbar-height) - var(--mud-appbar-height)/4)))">
    <MudPaper Class="overflow-hidden relative" Height="95%" Width="95%" Outlined>
        <LeafControlDrawer Map="_mapService" />
        <SimpleMap @bind-Map="_mapService" />
    </MudPaper>
</div>


@code {


    private MapService? _mapService;

}