@page "/"

<PageTitle>Home</PageTitle>

<div class="pa-4 mud-width-full d-flex align-center justify-center" style="height: calc(100vh - (calc(var(--mud-appbar-height) - var(--mud-appbar-height)/4)))">
    <MudPaper Class="overflow-hidden relative" Height="90%" Width="90%" Outlined>
        <LeafControlDrawer />
        <SimpleMap />
    </MudPaper>
</div>

Welcome to your new app.


